project_id = "gogxicjaqpqbhsfzutij"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "IPv4"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_signup = true
enable_anonymous_sign_ins = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[auth.sms]
enable_signup = true
enable_confirmations = false
template = "Your code is {{ .Code }} ."

[functions.ativa-crm-webhook]
verify_jwt = false

[functions.send-whatsapp]
verify_jwt = false

[functions.ativa-crm-api]
verify_jwt = false

[functions.disc-answer]
verify_jwt = false

[functions.disc-finish]
verify_jwt = false

[functions.disc-session-status]
verify_jwt = false

[functions.job-application-submit]
verify_jwt = false

[functions.consulta-produto]
verify_jwt = false

[functions.busca-produtos]
verify_jwt = false

[functions.telegram-webhook]
verify_jwt = false

[functions.get-candidate-data]
verify_jwt = false

[functions.job-application-save-draft]
verify_jwt = false

[functions.analyze-candidate]
verify_jwt = false

[functions.generate-interview-questions]
verify_jwt = false

[functions.evaluate-interview-transcription]
verify_jwt = false

[functions.api-produtos]
verify_jwt = false

[edge_runtime]
policy = "oneshot"