/* CSS para ocultar elementos específicos do YouTube player */
.youtube-container iframe,
.youtube-player-container iframe {
  border: none !important;
}

/* Oculta elementos específicos do YouTube usando CSS */
iframe[src*="youtube"] {
  pointer-events: auto !important;
}

/* Remove interações específicas */
.youtube-container,
.youtube-player-container {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Força o foco apenas nos controles de reprodução */
.youtube-container iframe,
.youtube-player-container iframe {
  filter: none;
  -webkit-filter: none;
}

/* Oculta controles nativos do YouTube */
.youtube-player-container iframe {
  /* Ocultar barra de controles do YouTube */
}

/* Garantir que apenas um player seja renderizado */
.youtube-player-container > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.youtube-player-container > div > iframe {
  width: 100% !important;
  height: 100% !important;
}